# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/theglobalunivers/lhdc.corporateera.com"
PassengerBaseURI "/"
PassengerNodejs "/home/theglobalunivers/nodevenv/lhdc.corporateera.com/20/bin/node"
PassengerAppType node
PassengerStartupFile apps/server/server.js
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION BEGIN
<IfModule Litespeed>
</IfModule>
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION END